In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Car price Prediction ANN

## Data Importing & Inspectring

In [2]:
data = pd.read_pickle('/content/CarPricesData.pkl')

In [3]:
data.head()

    Age     KM  Weight  HP  MetColor      CC  Doors  Price
0  23.0  46986  1165.0  90         1  2000.0      3  13500
1  23.0  72937  1165.0  90         1  2000.0      3  13750
2  24.0  41711  1165.0  90         1  2000.0      3  13950
3  26.0  48000  1165.0  90         0  2000.0      3  14950
4  30.0  38500  1170.0  90         0  2000.0      3  13750

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1435 entries, 0 to 1435
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       1435 non-null   float64
 1   KM        1435 non-null   int64
 2   Weight    1435 non-null   float64
 3   HP        1435 non-null   int64
 4   MetColor  1435 non-null   int64
 5   CC        1435 non-null   float64
 6   Doors     1435 non-null   int64
 7   Price     1435 non-null   int64
dtypes: float64(3), int64(5)
memory usage: 100.9 KB

In [5]:
data.describe().round(2)

,Age,KM,Weight,HP,MetColor,CC,Doors,Price
count,1435.00,1435.00,1435.00,1435.00,1435.00,1435.00,1435.00,1435.00
mean,56.03,68571.78,1071.66,101.49,0.67,1566.74,4.03,10720.92
std,18.53,37491.09,47.69,14.98,0.47,186.77,0.95,3608.73
min,1.00,1.00,1000.00,69.00,0.00,1300.00,2.00,4350.00
25%,44.00,43000.00,1040.00,90.00,0.00,1400.00,3.00,8450.00
50%,61.00,63451.00,1070.00,110.00,1.00,1600.00,4.00,9900.00
75%,70.00,87041.50,1085.00,110.00,1.00,1600.00,5.00,11950.00
max,80.00,243000.00,1320.00,192.00,1.00,2000.00,5.00,32500.00

#Spliting

In [6]:
y= data['Price']
y

0       13500
1       13750
2       13950
3       14950
4       13750
        ...
1431     7500
1432    10845
1433     8500
1434     7250
1435     6950
Name: Price, Length: 1435, dtype: int64

In [7]:
x=data.drop('Price',axis=1)

In [8]:




from sklearn.model_selection import train_test_split
x_train ,x_test,y_train ,  y_test = train_test_split(x,y,test_size=0.2,random_state=0)



#Data Scaling

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
sc = StandardScaler()

In [11]:
x_train = sc.fit_transform(x_train)
x_train

array([[ 1.28970391, -0.05469575,  0.05850623, ...,  0.69237377,
         0.16663718,  1.00439291],
       [ 0.64025547,  2.29745752, -1.17576924, ...,  0.69237377,
        -1.42496094, -1.09395661],
       [-0.27979649, -0.41396171,  0.16136252, ...,  0.69237377,
         0.16663718,  1.00439291],
       ...,
       [ 1.28970391,  0.44078692, -0.04435006, ..., -1.44430658,
         0.16663718,  1.00439291],
       [-0.11743438, -0.7838667 , -0.66148779, ...,  0.69237377,
         0.16663718, -1.09395661],
       [ 0.26141054,  0.84260903, -0.04435006, ..., -1.44430658,
         0.16663718,  1.00439291]])

In [13]:
x_test = sc.fit_transform(x_test)
x_test

array([[ 0.40315329,  1.32021355,  0.9007797 , ..., -1.42163731,
         0.22706892, -1.04738365],
       [-0.39849794,  0.85324698,  1.61088398, ...,  0.70341429,
         1.90135464,  1.06208377],
       [-0.77260185, -1.05451869, -0.22164321, ...,  0.70341429,
        -0.88912156,  1.06208377],
       ...,
       [-0.2381677 , -0.47581172, -0.56524205, ...,  0.70341429,
        -1.4472168 ,  1.06208377],
       [ 0.67037037, -0.67613761, -0.4507091 , ...,  0.70341429,
         0.22706892, -1.04738365],
       [-1.14670576, -0.96126353, -0.22164321, ...,  0.70341429,
        -0.88912156,  1.06208377]])

In [14]:
x_train.shape

(1148, 7)

In [15]:
y_train.shape

(1148,)

In [16]:
x_test.shape

(287, 7)

# ANN Model

In [18]:
import tensorflow.keras

In [24]:
from keras.models import Sequential
from keras.layers import Dense,LeakyReLU

In [29]:
model = Sequential([
    Dense(units=5,input_dim=7,kernel_initializer='normal',activation='relu'),
    Dense(units=5,kernel_initializer='normal',activation='tanh'),
    Dense(1,kernel_initializer='normal')
])

In [32]:
loss_func =tensorflow.keras.losses.MeanAbsolutePercentageError()
optimizer = tensorflow.keras.optimizers.Adam()

In [33]:
model.compile(loss=loss_func,optimizer=optimizer)

# Model Training

In [34]:
model.fit(x_train,y_train,batch_size=15,epochs=5,verbose=1)

Epoch 1/5
77/77 [==============================] - 1s 2ms/step - loss: 99.9619
Epoch 2/5
77/77 [==============================] - 0s 2ms/step - loss: 99.9567
Epoch 3/5
77/77 [==============================] - 0s 2ms/step - loss: 99.9518
Epoch 4/5
77/77 [==============================] - 0s 2ms/step - loss: 99.9470
Epoch 5/5
77/77 [==============================] - 0s 2ms/step - loss: 99.9422

# Model Evaluation

In [35]:
model.evaluate(x_test,y_test)

9/9 [==============================] - 0s 4ms/step - loss: 99.9406

99.94062042236328